@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@flaticon/flaticon-uicons/css/all/all";

@theme {
  --color-primary: #8d181b;

  --color-alpha: #000000b2;
  --color-beta: #f3f3f3;
  --color-lambda: #666666;

  --font-celeste: var(--font-celeste);
  --font-partner: var(--font-partner);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-celeste;
  }

  body::-webkit-scrollbar {
    @apply w-[8px];
  }

  body::-webkit-scrollbar-track {
    @apply shadow-none;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-beta;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
  }
}

@layer components {

  .swiper-navigation-icon{
    @apply hidden;
  }

  .service-slider > .swiper > .swiper-pagination {
    @apply lg:flex hidden justify-center items-center gap-3
  }

  .service-slider > .swiper > .swiper-pagination > .swiper-pagination-bullet{
    @apply w-[9px] h-[9px] opacity-100 bg-alpha;
  }

  .service-slider > .swiper > .swiper-pagination > .swiper-pagination-bullet-active{
    @apply bg-primary! ring-1 ring-primary ring-offset-6 ring-offset-white ;
  }

  .swiper-button-prev,
  .swiper-button-next{
    @apply w-[42px] h-[42px] rounded-full border border-lambda;
  }
 
}

@layer utilities {
  .container {
    @apply mx-auto max-w-full px-2 sm:max-w-screen-sm sm:px-6 md:max-w-3xl lg:max-w-5xl lg:px-12 xl:max-w-7xl 2xl:max-w-7xl!;
  }
}
